@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}

.gridBox {
    grid-template-rows: repeat(7, minmax(0, 1fr));
}

.arrowLeftIcon {
    padding: 5px;
    border-radius: 4px;
    height: 32px;
    width: 32px;
}

.arrowLeftIcon:hover {
    background-color: #eeeeee;
}

.markdownStyles p {
    margin: 16px 0px;
}

.summaryTags p {
    margin: 0px 0px;
}

.markdownStyles a {
    text-decoration: underline;
}
